{% autoescape off %}
    Hola {{ user.get_full_name|default:user.username }},

    Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en nuestro sitio.

    Por favor, haz clic en el siguiente enlace para establecer una nueva contraseña:

    {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

    Si no solicitaste un cambio de contraseña, puedes ignorar este correo de forma segura.

    Atentamente,
    El equipo de la App.
{% endautoescape %}