{% extends "base.html" %}

{% block title %}Contraseña Cambiada - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h4 class="card-title">¡Contraseña Cambiada!</h4>
                    <p class="card-text">Tu contraseña ha sido actualizada exitosamente.</p>
                    <a href="{% url 'users:perfil-detail' %}" class="btn btn-primary">Volver al Perfil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}