{% extends "base.html" %}

{% block title %}{{ page_title }} - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="mb-0">{{ page_title }}</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <hr>
                            <button type="submit" class="btn btn-success">Guardar Noticia</button>
                            <a href="{% url 'staff_panel:noticia-list' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}